@import "tailwindcss";

* {
  box-sizing: border-box;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: #F4F9E9;
}

.bg-gray {
  background-color: #D9D9D9;
}

.bg-green {
  background-color: #9FB8AD;
}

.bg-purple {
  background-color: #60495A;
  color: #F4F9E9;
}