:root {
    --black: #161616;
    --black-a: #111111;
    --white: #fffaee;
    --disabled: #5e5d5d;
    --accent: #FBB668;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Martian Mono", monospace;
    font-weight: 400;
    -ms-overflow-style: none;
    scrollbar-width: none;
    line-height: 1.2;
    word-spacing: -.2rem;
}

::-webkit-scrollbar {
    display: none;
}

html {
    background-color: var(--black);
}

#p-container {
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
    perspective: 10px;
    scroll-snap-type: y mandatory;
}

header {
    position: relative;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    scroll-snap-align: start;
}

header h1 {
    color: var(--black);
    font-size: 7.5cqw;
    letter-spacing: 3cqw;
    font-weight: 900;
    text-align: center;
    text-indent: -3%;
    direction: rtl;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate3d(-50%, -50%, -10px) scale(2.2, 4);

}

header h1 span {
    font-family: "Poller One", serif;
    display: inline;
}

.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.glass {
    backdrop-filter: blur(4px);
    border: 1px solid rgba(103, 103, 103, 0.3);
    box-shadow: inset 0 1px 10px 1px rgba(117, 116, 116, 0.2);
}

.wrapper {
    position: relative;
    width: 100%;
    height: 0;
    flex: 1;
}

.maxw {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 4rem;
}

#l-1 {
    background: url('assets/img/parallax/1.webp') center center no-repeat;
    background-size: cover;
    transform: translateZ(-3px) scale(1.3);
}

#l-2 {
    bottom: 0;
    background: url('assets/img/parallax/2.webp') center center no-repeat;
    background-size: cover;
    transform: translateZ(-5px) scale(1.5);
    z-index: -1;
}

#l-3 {
    bottom: 0;
    background: url('assets/img/parallax/3.webp') center center no-repeat;
    background-size: cover;
    transform: translateZ(-8px) scale(1.8);
}

#l-4 {
    bottom: 0;
    background: url('assets/img/parallax/4.webp') center center no-repeat;
    background-size: cover;
    transform: translateZ(-10px) scale(2);
}

#points {
    position: fixed;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    z-index: 1;
    padding: .7rem;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.15);
}

#points a {
    position: relative;
    color: var(--white);
}

#points a::before {
    content: "";
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    background-color: var(--white);
    transition: all 400ms;
}

#points a:hover::before,
#points a.selected::before {
    transform: scale(1.15);
    background-color: var(--accent);
}

#points a::after {
    content: attr(link-name);
    position: absolute;
    display: block;
    width: max-content;
    font-size: 1.4rem;
    font-weight: 600;
    top: 50%;
    border-radius: 5px;
    right: 2.5rem;
    transform: translate(0%, -50%);
    background-color: var(--accent);
    color: var(--black);
    padding: 0.3rem 0.8rem;
    pointer-events: none;
    opacity: 0;
    transition: all 400ms;
}

#points a:hover::after,
#points a.selected::after {
    opacity: 1;
    transform: translate(-10%, -50%);
}

#pages {
    color: var(--white);
}

#pages .page {
    background-color: var(--black);
    background-Image: linear-gradient(45deg, transparent 14%, var(--black-a) 15%, var(--black-a) 20%, transparent 21%, transparent 79%, var(--black-a) 80%, var(--black-a) 85%, transparent 86%), linear-gradient(135deg, transparent 14%, var(--black-a) 15%, var(--black-a) 20%, transparent 21%, transparent 79%, var(--black-a) 80%, var(--black-a) 85%, transparent 86%), radial-gradient(transparent 14%, var(--black-a) 15%, var(--black-a) 25%, transparent 26%);
    background-size: 5em 5em;
    background-attachment: fixed;
    height: 100dvh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 3% 5%;
    position: relative;
}

#pages .page h2 {
    display: block;
    font-size: 5rem;
    letter-spacing: .5rem;
    font-weight: 700;
    line-height: 1;
}

#idea #processes-container {
    display: flex;
    flex-direction: row;
    gap: 10%;
    flex: 1;
    height: 0;

    scroll-timeline: --go-back x;
}

#idea #processes-container h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

#idea #processes-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: inherit;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    height: 0;
}

#idea #processes-container>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8%;
}

#old-process {
    animation: process-out .5s linear;
    animation-timeline: --go-back;
}

#new-process {
    animation: process-in .5s linear;
    animation-timeline: --go-back;
}

@keyframes process-out {
    0% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }

    100% {
        opacity: 0;
        transform: scale(0);
        filter: blur(10px);
    }
}

@keyframes process-in {
    0% {
        opacity: 0;
        transform: scale(0);
        filter: blur(10px);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

#idea .process-block {
    position: relative;
    max-width: 60%;
    min-width: 7rem;
    background-color: rgba(80, 80, 80, 0.131);
    padding: 4%;
    text-align: center;
    line-height: 100px;
    border-radius: 5px;
    font-size: 1.3rem;
    transition: all 500ms;
}

#idea .process-block p {
    font-size: 1.5cqb;
}


#idea .process-block:before {
    display: block;
    position: absolute;
    top: -1rem;
    left: -1rem;
    font-size: 1.1rem;
    width: 1rem;
    height: 1rem;
    padding: 0.4rem;
    line-height: 1;
    border: 3px solid var(--white);
    border-radius: 50%;
}

#idea #old-process {
    position: relative;
    counter-reset: old;
}

#idea #new-process {
    counter-reset: new;
}

#idea #old-process .process-block:before {
    counter-increment: old;
    content: counter(old);
}

#idea #new-process .process-block:before {
    counter-increment: new;
    content: counter(new);
}

#idea #swipe-indicator {
    display: none;
}


.bad-block {
    background-image: repeating-linear-gradient(45deg,
            var(--black),
            var(--black) 10px,
            var(--black-a) 10px,
            var(--black-a) 20px);
    ;
    background-size: 200% 200%;
    animation: barberpole 10s linear infinite;
    opacity: .5;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}


#gallery #gallery-container {
    width: 95%;
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 3px;
    scroll-snap-type: x mandatory;
    display: inline-flex;
    flex-direction: row;
}

#gallery #gallery-container .photo-desc {
    min-width: 100%;
    height: 100%;
    padding: 5%;
    display: flex;
    gap: 5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#gallery #gallery-container .photo-desc>img {
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    display: block;
    object-fit: cover;
    height: 90%;
    width: 50%;
}

#gallery #gallery-container .photo-desc>p {
    width: 50%;
    font-size: 1.6cqb;
    line-height: 1.4;
    height: fit-content;
    transform: skewX(-5deg);
}

#gallery-indicator {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 1rem;
    list-style-type: none;
    display: flex;
    align-items: center;
}

#gallery-indicator li {
    display: inline-block;
}

#gallery-indicator a.indicator {
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: var(--white);
    margin: auto 1rem;
    transition: all 500ms;
}

#gallery-indicator a.indicator:hover,
#gallery-indicator a.selected {
    width: 2rem;
    border-radius: 10px;
    background-color: var(--accent);
}

#form #user-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}


#form #user-content>p {
    font-size: 1.3rem;
}

#form #form-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2cqb;
}

#user-form {
    width: 50%;
    padding: 3rem;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    height: 30%;
    box-sizing: content-box;
}


#user-form #email-label input {
    display: block;
    margin-top: 1rem;
    width: 100%;
    font-size: 1.7rem;
    background-color: var(--black-a);
    border: 3px solid var(--white);
    border-radius: 5px;
    color: var(--white)
}

#user-form button {
    justify-self: end;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2.5cqb;
    padding: 1rem;
    margin-top: auto;
}

#user-form button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--white);
    border-radius: 3px;
    color: var(--black);
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
}

#user-form button[disabled] {
    background-color: var(--disabled);
}

#user-form button[disabled]:hover {
    background-color: var(--disabled);
    cursor: default;
    animation: none;
}

.svgIcon {
    height: 25px;
    transition-duration: 1.5s;
}

.bell path {
    fill: var(--black);
}

#user-form button:hover {
    background-color: var(--accent);
    transition-duration: .5s;
}

#user-form button:active {
    transform: scale(0.97);
    transition-duration: .2s;
}

#user-form button:hover .svgIcon {
    transform: rotate(250deg);
    transition-duration: 1.5s;
}

#user-counter {
    text-align: center;
}

#user-counter h3 {
    font-size: 8cqb;
    font-weight: 700;
    margin-bottom: 1rem;
}

#thanks {
    position: fixed;
    color: var(--white);
    text-align: center;
    bottom: -1%;
    z-index: 5;
    left: 50%;
    font-size: 2.5cqb;
    font-weight: 800;
    transform: translate(-50%, 100px);
}