:root {
    --bg-color: black;
    --body-bg-color: white;
    --ul-bg-color: rgba(225, 214, 214, 0.603);
    --body-half-band-color: rebeccapurple;
    --body-second-band-color: rgb(189, 133, 246);
    --github-badge-text-color: white;
    --github-badge-bg-color: #0A0A0A;
    --border-radius: 20px;
}

html {
    text-align: center;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

@keyframes right {
    0%   { width: 0%; left: 0%; }
    25%  { width: 55%; left: 0%; }
    50%  { width: 100%; left: 0%; }
    75%  { width: 50%; left: 50%; }
    100% { width: 0%; left: 100%; }
}

body::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: -1;
    background-color: var(--body-half-band-color);
    animation-name: right;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    z-index: -1;
    background-color: var(--body-second-band-color);
}

header, main, footer {
    background-color: var(--body-bg-color);
    width: 50vw
}

header {
    text-align: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

div#docList {
    text-align: center;
    max-height: 200px;
    margin: auto 20%;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: var(--border-radius);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--ul-bg-color);
}

ul {
    padding: 0;
    columns: 2;
    column-gap: 1em;
    width: max-content;
    margin: 0 auto;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
}

li::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/mdi--file-pdf-box.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px;
    position: static;
}

div#githubBadge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--github-badge-bg-color);
    width: fit-content;
    padding: 0.5em;
    border-radius: 5px;
}

div#githubBadge img {
   margin-right: 0.5em;
}

div#githubBadge a {
    padding-left: 0;
    color: var(--github-badge-text-color);
    text-decoration: none;
}

a#landingPageLink::before {
    display: inline-block;
    content: "";
    background-image: url("../img/mdi--link-white.svg");
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

a#landingPageLink {
    display: inline-block;
    margin: 1em;
    background-color: var(--github-badge-bg-color);
    padding: 0.6em;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a#landingPageLink:visited {
    color: white;
}

footer {
    text-align: center;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

footer div#teamUserDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a.teamUserLink {
    width: 15vw;
    color: black;
    text-decoration: none;
}

footer a.teamUserLink img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid black
}

@media (max-width: 1404px) {
    ul {
        padding: 0;
        columns: 1;
        column-gap: 0;
    }

    li {
        list-style-type: none;
        width: 100%;
    }
}

@media (min-width: 1404px) {
    li {
        padding-left: 27px;
    }

    div#docList {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 741px) {
    li {
        padding-left: 27px;
    }
}

@media (max-width: 740px) {

    header {
        overflow-wrap: break-word;
    }

    div#docList {
        max-height: auto;
        margin: auto 20%;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    ul {
        columns: 1;
        column-gap: 0;
    }

    header, main, footer {
        width: 80vw;
        margin: 0;
        overflow: scroll;
    }

    footer a.teamUserLink {
        width: auto;
    }

    footer p.username {
        display: none;
    }

    footer div#teamUserDiv {
        gap: 2em;
        margin-bottom: 1em;
    }
}